<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Login Id</th>
      <th>Login Email</th>
      <th>Shipping Name</th>
      <th>Shipping Address</th>
      <th>Ordered Date</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">     
        {{ getName(order.userId)}} 
      <td>
          <div>{{ x.name }}</div>       
      </td>
      <td>
        <div>{{ x.email }}</div>
      </td>
      <td>{{ order.shipping.name }}</td>
      <td>{{order.shipping.address + ' ' + order.shipping.address1}}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <a [routerLink]="['/order-detail/'+order.$key]">View</a>
      </td>

    </tr>
  </tbody> 
</table>


<!-- [(ngModel)]="shipping.address1" name ="address1" -->