.chatInput {
    flex: 10;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: black;
    transition: 0.1s ease-out;
    // padding-left: 86px;
    display: block;
}


.chatInput:focus {
    background-color: #E4F1FE;
    color:#222;
    transition: 0.2s ease-in;
    display: block;
}

.chatButton {
    flex: 1;
    padding: 1px;
    font-size: 1.0em;
    background-color: #2A2845;
    color: white;
    transition: 0.2s ease ease-out;
    // min-width: 60px;
}

.chatButton:hover {
    background-color: #444;
}