<app-navbar-album></app-navbar-album>
<div id="order-success" class="container">
        <div class="container">
                <div class="intro-text">                    
                    <div id="navbar-brand" style="font-size: 2em">Your order has been placed sucessfully! <i class="fas fa-check-circle" style="color: green"></i></div>                 
                    <div id="navbar-brand" style="font-size: 2em"> Thank you! </div> 
                </div>

                 <button class="btn btn-outline-success my-2 my-sm-0" 
                 routerLink="/products"
                 type="submit">Home</button>
        </div>
</div>

