
@media screen and (max-width: 378px){
    .quantity {
        width:100px;
    }
}

.jumbotron { 
    background-color :rgb(128, 22, 119);    
}

img {
    float: right;
}

h3, p{
    color:white;
}




