.card-img-top {
    width: 324px;
    height: 270px;
    border-radius: 10%;
    background-size: cover;
    text-align: float;
    align-content: float;
}

.col-6{
    width:324px;
}

@media screen and (max-width: 378px) {
    .card-img-top {
        width: 300px;
        height: 270px;
        border-radius: 10%;
        background-size: cover;
        text-align: float;
        align-content: float;
    }
  }

.card {
    width: 795px;
    height: auto;
    background-size: cover;
    align-content: float;
}

.card-footer  {
    width: 795px;
    height: auto;
    background-size: cover;
    padding: 0px;
}

#price-col1  {
        color: red;
        font-weight: bold;
        padding-left: 25%;
        margin-top: auto;
        margin-bottom: auto;
}

#price-col2  {
    color: black;
    font-weight: bold;
    padding-left: 290px;
    margin-top: auto;
    margin-bottom: auto;
}


@media screen and (max-width: 378px) {
    .card  {
        width: 315px;
        height: auto;
        background-size: cover;
    }
  }

.quantity {
    width: 100px;
}

@media screen and (max-width: 378px){
    .quantity {
        width:100px;
    }
}



@media screen and (max-width: 378px) {
    .description  {
        font-size: 0.8em;
        padding:0.5em;
    }
}

@media screen and (max-width: 378px) {
.card-footer  {
    width: 315px;
    height: auto;
    background-size: cover;
    padding: 0px;
    }
}

@media screen and (max-width: 378px) {
    #price-col1  {
        color: red;
        font-weight: bold;
        padding-left: 80px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 378px) {
    #price-col2  {
        color: black;
        font-weight: bold;
        padding-left: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
