<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="home">Retro Vynyl</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/shopping-cart">
              Cart
              <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
                  {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/my/order">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/my/order">Team</a>
            <i class="fa fa-search" style="color:darkblue"></i>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/chatroom">Chat</a>            
          </li>
          <li class="nav-item">
              <a *ngIf="auth.user$ | async as user; else anonymousUser" routerLink="/login"
              class="nav-link js-scroll-trigger" >  
                  <!-- {{user.displayName}}               -->
              </a>
            </li>
            <li>
                <ng-template #anonymousUser>
                    <div class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </div> 
                </ng-template>
            </li>           
        </ul>
      </div>
    </div>
  </nav>



