#mainNav{
    // background-color: black;
    // padding: 0%;
}

// @keyframes moveInLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(-10rem);
//     }

//     80% {
//         transform: translateX(1rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// }

// @keyframes moveInRight {
//     0% {
//         opacity: 0;
//         transform: translateX(10rem);
//     }

//     80% {
//         transform: translateX(-1rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// }

// @keyframes moveInBottom {
//     0% {
//         opacity: 0;
//         transform: translateY(3rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translate(0);
//     }
// }

// // COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;


// // FONT
// $default-font-size: 1.6rem;


// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;



// @mixin clearfix {
//     &::after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }

// @mixin absCenter {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }


// // MEDIA QUERY MANAGER
// /*
// 0 - 600px:      Phone
// 600 - 900px:    Tablet portrait
// 900 - 1200px:   Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px + :      Big desktop

// $breakpoint arguement choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px
// */
// @mixin respond($breakpoint) {
//     @if $breakpoint == phone {
//         @media only screen and (max-width: 37.5em) { @content };    //600px
//     }
//     @if $breakpoint == tab-port {
//         @media only screen and (max-width: 56.25em) { @content };     //900px
//     }
//     @if $breakpoint == tab-land {
//         @media only screen and (max-width: 75em) { @content };    //1200px
//     }
//     @if $breakpoint == big-desktop {
//         @media only screen and (min-width: 112.5em) { @content };    //1800
//     }
// }



// .navigation {
//     &__checkbox {
//         display: none;
//     }

//     &__button {
//         background-color: $color-white;
//         height: 3.5rem;
//         width: 3.5rem;
//         position: fixed;
//         top: 6rem;
//         right: 6rem;
//         border-radius: 50%;
//         z-index: 2000;       
//         box-shadow: 0 1rem 3rem rgba($color-black, .1);
//         text-align: center;
//         cursor: pointer;

//         @include respond(tab-port) {
//             top: 2rem;
//             right: 2rem;
//         }

//         @include respond(phone) {
//             top: 1.5rem;
//             right: 1.5rem;
//         }
//     }

//     &__background {
//         height: 3.5rem;
//         width: 3.5rem;
//         border-radius: 50%;
//         position: fixed;
//         top: 6rem;
//         right: 6rem;
//         background-image: radial-gradient($color-primary-light, $color-primary-dark);
//         z-index: 1000;
//         transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

//         @include respond(tab-port) {
//             top: 2rem;
//             right: 2rem;
//         }

//         @include respond(phone) {
//             top: 1.5rem;
//             right: 1.5rem;
//         }
//     }

//     &__nav {
//         height: 50vh;       
//         position: fixed;
//         top: 0;
//         left: 0;
//         z-index: 1500;

//         opacity: 0;
//         width: 0;
//         transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//     }

//     &__list {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         list-style: none;
//         text-align: center;
//         width: 100%;
//     }

//     &__item {
//         margin: 1rem;
//     }

//     &__link {
//         &:link,
//         &:visited {
//             display: inline-block;
//             font-size: 1.5rem;
//             font-weight: 300;
//             padding: 0rem 0rem;
//             color: $color-black;
//             text-decoration: none;
//             text-transform: uppercase;
//             background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
//             background-size: 220%;
//             transition: all .4s;

//             span {
//                 margin-right: 1.5rem;
//                 display: inline-block;
//             }
//         }
        
//         &:hover,
//         &:active {
//             background-position: 100%;
//             color: $color-primary;
//             transform: translateX(1rem);
//         }
//     }


//     //FUNCTIONALITY
//     &__checkbox:checked ~ &__background {
//         transform: scale(80);
//     }

//     &__checkbox:checked ~ &__nav {
//         opacity: 1;
//         width: 100%;
//     }


//     //ICON
//     &__icon {
//         position: relative;
//         margin-top: 1.75rem;      

//         &,
//         &::before,
//         &::after {
//             width: 2rem;
//             height: 2px;
//             background-color: $color-grey-dark-3;
//             display: inline-block;
//         }

//         &::before,
//         &::after {
//             content: "";
//             position: absolute;
//             left: 0;
//             transition: all .2s;
//         }

//         &::before { top: -.8rem; }
//         &::after { top: .8rem; }
//     }

//     &__button:hover &__icon::before {
//         top: -1rem;
//     }

//     &__button:hover &__icon::after {
//         top: 1rem;
//     }

//     &__checkbox:checked + &__button &__icon {
//         background-color: transparent;
//     }

//     &__checkbox:checked + &__button &__icon::before {
//         top: 0;
//         transform: rotate(135deg);
//     }

//     &__checkbox:checked + &__button &__icon::after {
//         top: 0;
//         transform: rotate(-135deg);
//     }
// }