<h2>Order Detail</h2>


<div *ngIf="authService.user$ | async as user"> 
   User name {{user.displayName}}  
 </div>

<div *ngIf="shipping$ | async as shipping">
  Customer Name: {{shipping.name}}
  Shipping Address: {{shipping.address}}
          {{ shipping.address1}}  
          {{ shipping.suburb}}  
          {{ shipping.state}} Australia 
</div>

<div *ngFor="let a of takenItem$ | async">
    <img *ngIf="a.product.imageUrl" class="thumbnail" [src]="a.product.imageUrl" alt="{{ a.product.title }}" >
    product title : {{a.product.title}} 
    product price : {{a.product.price}} 
    product quantity : {{a.quantity}} 
</div>

<!-- <button 
(click)="delete()"
class="btn btn-primary">Delete</button> -->

<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="name">Title</label>
    <input #name="ngModel" [(ngModel)]="order.name" name ="name" id="name" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
      <input #address="ngModel" [(ngModel)]=order.address name="address" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label for="address1">Address1</label>
        <input #address1="ngModel" [(ngModel)]=order.address1 name="address1" type="text" class="form-control">
   </div>
   <div class="form-group">
      <label for="suburb">Suburb</label>
        <input #suburb="ngModel" [(ngModel)]=order.suburb name="suburb" type="text" class="form-control">
   </div>
   <div class="form-group">
      <label for="state">State</label>
        <input #state="ngModel" [(ngModel)]=order.state name="state" type="text" class="form-control">
   </div>
  <button class="btn-primary">Save</button>
  <button type="button" (click)="delete()" class="btn-danger">Delete</button>
</form>

<!-- <div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="i">Title</label>
      <input #title="ngModel" [(ngModel)]="product.title" name ="title" id="title" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required</div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
              <input #price="ngModel" [(ngModel)]="product.price" name ="price" id="price" type="number" class="form-control" required [min]="0"> 
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required"> Price is required</div>
          <div *ngIf="price.errors.min"> Minimum Price should be greater than 0</div>
        </div> 
        
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name ="category" id="category" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.$key">
            {{ c.name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is required</div>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image Url</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">ImgUrl is required</div>
            <div *ngIf="imageUrl.errors.url">Please enter a valid URL</div>
          </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">          
              <input #description="ngModel" [(ngModel)]="product.description" name ="description" id="description" type="text" class="form-control" required [min]="0"> 
        </div>        
        
    </div>
    <button class="btn-primary">Save</button>
    <button type="button" (click)="delete()" class="btn-danger">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <app-product-card [product]="product" [show-actions]="false"></app-product-card>
  </div>
</div> -->





