@media screen and (max-width:378px) {
    .loginMethods{
        font-size: 0.8em; 
        font-weight: bold;    
    }
}


@media screen and (max-width:378px) {
    #google {
        font-size: 15px;
        color: darkorange;
    }
}

@media screen and (max-width:378px) {
    #facebook {
        font-size: 15px;
        color: blue;
    }
}

@media screen and (max-width:378px) {
    #twitter {
        font-size: 15px;
        color:purple;
    }
}
@media screen and (max-width:378px) {
    #github {
        font-size: 15px;
        color:green;
    }
}

.container{
    margin-top:200px;
    margin-left:100px; margin-right:100px;
}