

<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<div>aaaa</div>
<span id="google"
(click)="login()"> Google  <i class="fa fa-google"></i>
</span>

<span id="facebook"
(click)="loginFacebook()"> Facebook  <i class="fa fa-facebook"></i>
</span>

<span id="twitter"
(click)="loginTwitter()"> Twitter  <i class="fa fa-twitter" ></i>
</span>

<span id="github"
(click)="loginGithub()"> Github  <i class="fa fa-github"></i>
</span>
