<app-navbar-album></app-navbar-album>
<div id="product-form" class="container">
  <div class="row">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="i">Album Name</label>
        <input #title="ngModel" [(ngModel)]="product.name" name ="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="product.name?.touched && product.name.invalid">Title is required</div>
      </div>

      <div class="form-group">
          <label for="i">Artist</label>
          <input #title="ngModel" [(ngModel)]="product.artist" name ="artist" id="artist" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="product.artist.touched && product.artist.invalid">Artist is required</div>
      </div>
      
      <div class="form-group">
          <label for="i">Rank</label>
          <input #title="ngModel" [(ngModel)]="product.rank" name ="rank" id="rank" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="product.rank.touched && product.rank.invalid">Rank is required</div>
      </div>

      <div class="form-group">
          <label for="i">Released Year</label>
          <input #title="ngModel" [(ngModel)]="product.year" name ="year" id="year" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="product.year.touched && product.year.invalid">Year is required</div>
      </div>


      <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
                <input #price="ngModel" [(ngModel)]="product.price" name ="price" id="price" type="number" class="form-control" required [min]="0"> 
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price?.errors.required"> Price is required</div>
            <div *ngIf="price?.errors.min"> Minimum Price should be greater than 0</div>
          </div> 
          
      </div>  
      <div class="form-group">
          <label for="imgUrl">Image url</label>
            <input #imageUrl="ngModel" [(ngModel)]="product.imgUrl" name="imgUrl" id="imageUrl" type="text" class="form-control" required url>
            <div class="alert alert-danger" *ngIf="product.imgUrl?.touched && imageUrl.invalid">
              <div *ngIf="product.imgUrl.errors.required">ImgUrl is required</div>
              <div *ngIf="product.imgUrl.errors.url">Please enter a valid URL</div>
            </div> 
      </div> 
      <div class="form-group">
          <label for="description">Description</label>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"></span>
              </div>
              <textarea auto-resize 
              id="textarea"
              rows="10"
              #description="ngModel"              
              [(ngModel)]="product.content" 
                name ="description" id="description" type="text" 
                class="form-control input-lg"                
                required [min]="0"                              
                class="form-control" aria-label="With textarea">
              </textarea>
            </div>              
          
      </div>
      <button class="btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn-danger">Delete</button>
      </form>
    </div>
    <div class="col-md-6">
      <app-product-card [product]="product" [show-actions]="false"></app-product-card>
    </div>
  </div>
</div>



