@media screen and (max-width:378px) {
    .col-6{
        margin-left: 0%;
        font-size: 0.8em;
        color:black;
        background-color: rgb(221, 227, 238);
        padding-left: 2px; 
        padding-right: 2px; 
        padding-top: 12px;    
    }
}