.feed{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    font-size: 0.8em;
}
.message {
    flex-direction: column;
    margin: 10px 0;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 0px; 
  }
  .site-footer {
    background: orange;
  }
