
    <!-- <div class="feed"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
        <div *ngFor="let message of feed | async" class="message">
          <app-message [chatMessage]=message></app-message>   
        </div>

    </div> -->


    <div class="page-wrap">
  
        <div *ngFor="let message of feed | async" class="message">
            <app-message [chatMessage]=message></app-message>   
          </div>
            
      </div>
      
      <footer class="site-footer">
      </footer>

