.userListWrapper {
    display: flex;
    font-family: "Open Sans",sans-serif;
    flex:1;
    color: rgb(9, 25, 77);
    order:1;
    background-color: #2a2845;
   
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; 
    position: float;
    color: white  
   
}

@media screen and (max-width: 378px) {
    .userListWrapper {
        position: fixed;
        flex:0.1;
        top: 80px;
        left: 50px;
        width: 180px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(42, 40, 69, 0.4);

    }
  }


.feedWrapper {
    font-family: "Open Sans", sans-serif;
    font-size:  1.2em;
    flex: 7;
    order: 2;
    overflow-y: scroll;
    padding:5px 5px 5px;
    background-color: #fff;
    background: 
    linear-gradient(180deg, rgba(200,200,215,0.6) rgba(0,0,0,0.9))
}

@media screen and (max-width: 378px) {
    .feedWrapper {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8 em;
        flex: 5;
        order: 2;
        overflow-y: scroll;
        padding:0px 0px 0px;
        background-color: #fff;
        background: 
        linear-gradient(180deg, rgba(200,200,215,0.6) rgba(0,0,0,0.9))
    }
  }


app-chatroom {
    display: flex;
    flex-direction: column;
}

app-navbar {
    width: 100;
}

app-chat-form{
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: none;
}

.message {
    display: block;
    height: auto;
}

.mainContent{
    display: flex;
}



.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}


@media screen and (max-width: 378px) {
    .chatFormWrapper {
        display: flex;
        height: 50px;
        background-color: #eee;
        z-index: 3;
        width:300px;
    }
}



#scroll-style::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: yellow;
}