
#col-12 {
    /* margin-left:25%; 
    margin-right:auto;  */
    padding-bottom: 5px;
    padding-top: 0px;
}

@media screen and (max-width: 379px) {
  #col-12 {
    margin-left:1%;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 379px) {
    #promo-header {
      font-size: 25px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 378px) {
    .col-3 {
      font-size: 11px;
      padding-left:5px;
      padding-right:0px;
      padding-bottom:2px;
    }
  }

  @media screen and (max-width: 378px) {
    .col-5 {
      font-size: 0.7px;
      margin-left:10px;
      margin-right:2px;       
    }
  }

  @media screen and (max-width: 378px) {
    #app-product-card {
      margin-right:0px;    
    }
  }


//Read more
#readMore{
  color: rgb(65, 11, 11);
  font-weight: bold;
}
//Read more
#readLess{
  color: rgb(2, 37, 7);
  font-weight: bold;
}

//navBar

#mainNav{
  background-color: black;
}

.quantity {
  width: 100px;
}

@media screen and (max-width: 378px){
  .quantity {
      width:100px;
  }
}

#jumbo {
  background-color: black;
}

#Sort{
  margin-top: 15px;
  float: right;;
}
#shuffle{
  margin-left: 15px; 
}

@media screen and (max-width: 378px){
  #Sort {
      font-size: 0.5em;
  }
}

@media screen and (max-width: 378px){
  #button {
      font-size: 0.9em;
  }
}






  


  

  

  